<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>movieInfo</key>
	<dict>
		<key>author</key>
		<string>Arron Lacey</string>
		<key>backingScaleFactor</key>
		<real>1</real>
		<key>colorProfileData</key>
		<data>
		AAACoGFwcGwCEAAAbW50clJHQiBYWVogB9UABAABAAEAAQABYWNzcEFQUEwA
		AAAAQVBQTAAAAAAAAAAAAAAAAAAAAAAAAPbWAAEAAAAA0y1hcHBsAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMZGVz
		YwAAARQAAABpY3BydAAAAYAAAAAid3RwdAAAAaQAAAAUclhZWgAAAbgAAAAU
		Z1hZWgAAAcwAAAAUYlhZWgAAAeAAAAAUclRSQwAAAfQAAAAOdmNndAAAAgQA
		AAAwbmRpbgAAAjQAAAA+Y2hhZAAAAnQAAAAsYlRSQwAAAfQAAAAOZ1RSQwAA
		AfQAAAAOZGVzYwAAAAAAAAAPQ29tcG9zaXRlIE5UU0MAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAdGV4dAAAAABDb3B5cmlnaHQgMjAw
		NyBBcHBsZSBJbmMuAAAAWFlaIAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAA
		apIAADjAAAADflhZWiAAAAAAAABkqAAAtAoAABdhWFlaIAAAAAAAACebAAAT
		NgAAuE1jdXJ2AAAAAAAAAAEB9gAAdmNndAAAAAAAAAABAAEAAAAAAAAAAQAA
		AAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAbmRpbgAAAAAAAAA2AAChSAAAVwoA
		AE9cAACYUgAAJ64AABHsAABQDQAAVDkAAfYEAAH2BAAB9gQAAAAAAAAAAHNm
		MzIAAAAAAAEMQgAABd7///MmAAAHkwAA/ZD///ui///9owAAA9wAAMBu
		</data>
		<key>colorProfileName</key>
		<string>Composite NTSC</string>
		<key>cropRect</key>
		<array>
			<array>
				<real>+infinity</real>
				<real>+infinity</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
		</array>
		<key>date</key>
		<date>2022-07-12T22:47:28Z</date>
		<key>documentVersion</key>
		<integer>6</integer>
		<key>overlayRect</key>
		<array>
			<array>
				<real>+infinity</real>
				<real>+infinity</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
			</array>
		</array>
		<key>recordingScreenResolution</key>
		<array>
			<real>320</real>
			<real>240</real>
		</array>
		<key>resolution</key>
		<array>
			<real>320</real>
			<real>240</real>
		</array>
		<key>summary</key>
		<string>Imported from /Users/alacey/Downloads/[BTCLOD.COM] Star Trek_ Redshirts-240p.mp4</string>
		<key>trimTimeRange</key>
		<dict>
			<key>duration</key>
			<dict>
				<key>epoch</key>
				<integer>0</integer>
				<key>flags</key>
				<integer>3</integer>
				<key>timescale</key>
				<integer>90000</integer>
				<key>value</key>
				<integer>3292493</integer>
			</dict>
			<key>start</key>
			<dict>
				<key>epoch</key>
				<integer>0</integer>
				<key>flags</key>
				<integer>1</integer>
				<key>timescale</key>
				<integer>90000</integer>
				<key>value</key>
				<integer>1769573</integer>
			</dict>
		</dict>
	</dict>
	<key>tracks</key>
	<array>
		<dict>
			<key>payload</key>
			<dict>
				<key>isEnabled</key>
				<true/>
				<key>resourceNames</key>
				<array>
					<string>[BTCLOD.COM] Star Trek_ Redshirts-240p.mp4</string>
				</array>
				<key>trackID</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>payload</key>
			<dict>
				<key>isEnabled</key>
				<true/>
				<key>resourceNames</key>
				<array>
					<string>[BTCLOD.COM] Star Trek_ Redshirts-240p.mp4</string>
				</array>
				<key>trackID</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
	</array>
</dict>
</plist>
